<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <% include ../views/partials/header.ejs %>
  </head>
  <body>
    <% include ../views/partials/navbar.ejs %>
    <div class="jumbotron">
      <div class="container">
        <h1>Error</h1>
        <p>You seem to have encountered an error</p>
      </div>
    </div>
    <div class="container">
      <h4 class="text-danger"><%= message %></h4>
      <p>If you keep encountering the same error and do not know how to get around it, please <a href="https://noahscholfield.com/contact/" class="btn-link" target="_blank">contact me</a>. Be sure to include what you were trying to do when you encountered the error, the error message above, and the time and date of the problem so I can check the logs.</p>
    </div>
  </body>
</html>
