<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MongoDB Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//noahscholfield.com/css/bootstrap-yeti.min.css">
  </head>
  <body>
    <div class="container">
      <h1>MongoDB Test</h1>
      <p><%= data %></p>
    </div>
  </body>
</html>
