<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//noahscholfield.com/css/bootstrap-yeti.min.css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Register</h1>
        <a class="btn btn-primary" href="/accounts/">All Accounts</a>
      </div>
    </div>
    <div class="container">
      <form action="/" method="post">
        <legend>New Account</legend>
        <fieldset>
          <div class="form-group">
            <label for="inputLast">First Name</label>
            <input type="text" name="inputFirst" class="form-control" placeholder="John" required="true"></input>
          </div>
          <div class="form-group">
            <label for="inputName">Last Name</label>
            <input type="text" name="inputLast" class="form-control" placeholder="Smith" required="true"></input>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email Address</label>
            <input type="email" name="inputEmail" class="form-control" placeholder="username@example.com" required="true"></input>
          </div>
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" name="inputUsername" class="form-control" placeholder="jsmith" required="true" autocapitalize="none" autocorrect="off"></input>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="inputPassword" class="form-control" placeholder="not 'password' please" required="true"></input>
          </div>
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-default">Clear</button>
        </div>
      </form>
    </div>
  </body>
</html>
