<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= username %> | My Account</title>
    <% include ../views/partials/header.ejs %>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1><%= username %></h1>
        <p class="text-success">You have successfully logged in!</p>
      </div>
    </div>
    <div class="container">
      <a class="btn btn-primary" href="/accounts/">All Accounts</a>
      <a class="btn btn-danger" href="/logout/">Logout</a>
    </div>
  </body>
</html>
