<!DOCTYPE html>
<html>
  <head>
    <title><%= user.name.first %> <%= user.name.last %>'s Profile</title>
    <% include ../views/partials/header.ejs %>
  </head>
  <body>
    <% if(username) { %>
      <% include ../views/partials/navbar-private.ejs %>
    <% } else { %>
      <% include ../views/partials/navbar-public.ejs %>
    <% } %>
    <div class="jumbotron">
      <div class="container">
        <h1><%= user.username %></h1>
      </div>
    </div>
    <div class="container">
      <h2>Account Info</h2>
      <pre><%= JSON.stringify(user, undefined, 2) %></pre>
    </div>
  </body>
  <% include ../views/partials/scripts.ejs %>
</html>
